<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <% include ../partials/CV_helper.ejs %>
        <iframe data-auto-height="true" frameborder="0" height="1000" id="doc_21392" scrolling="yes" src="https://www.scribd.com/embeds/343269314/content?start_page=1&view_mode=scroll&access_key=key-8db0dqtKgrhdAqxt2tgW&show_recommendations=true" width="100%">
        </iframe>
    </body>
</html>
