<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>
    <body>

        <div class="jumbotron text-center">
            <div class="container">
                <a class="lang-logo" href="/">
                    <img src="/lang-logo.png">
                    </img>
                </a>
                <h1>
                    Welcome to my Node.js test project
                </h1>
                <p>
                    Here you can find links to information about me. If you are interested, you can download my amazing Pong-game from my GitHub account.
                </p>
                <a class="btn btn-lg btn-primary" href="https://www.facebook.com/YvesFollan" type="button">
                    <span class="glyphicon glyphicon-flash">
                    </span>
                    Facebook
                </a>
                <a class="btn btn-lg btn-primary" href="https://www.github.com/OFollan" type="button">
                    <span class="glyphicon glyphicon-flash">
                    </span>
                    GitHub
                </a>
                <a class="btn btn-lg btn-primary" href="/CV" type="button">
                    <span class="glyphicon glyphicon-flash">
                    </span>
                    CV
                </a>
            </div>
        </div>
        <div class="container">
            <hr>
                <div class="row">
                    <div class="col-md-6">
                        <h3>
                            <span class="glyphicon glyphicon-info-sign">
                            </span>
                            This is another test
                        </h3>
                        <ul>
                            <li>
                                I wonder why my scripts are failing me :(
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h3>
                            <span class="glyphicon glyphicon-link">
                            </span>
                            Useful links
                        </h3>
                        <ul>
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/YvesFollan">
                                        <span class="glyphicon glyphicon-flash">
                                        </span>
                                        My Facebook page
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.github.com/OFollan">
                                        <span class="glyphicon glyphicon-flash">
                                        </span>
                                        My GitHub account
                                    </a>
                                </li>
                                <li>
                                    <a href="./cool">
                                        <span class="glyphicon glyphicon-flash">
                                        </span>
                                        A cute smiley
                                    </a>
                                </li>
                            </ul>
                        </ul>
                    </div>
                </div>
                <!-- row -->
                <div class="alert alert-info text-center" role="alert">
                    Please take this web with a pinch of salt - I have not really been able to do what I was trying to do..
                </div>
            </hr>
        </div>
    </body>
</html>
