<!DOCTYPE html>
<html>
    <head>
        <h1>
            Why is this not working
        </h1>
    </head>
    <body>
        <script language="javascript" src="p5.js" type="text/javascript">
        </script>
        <script language="javascript" src="p5.dom.js" type="text/javascript">
        </script>
        <script language="javascript" src="pong.js" type="text/javascript">
        </script>
        <script language="javascript" src="testScript.js" type="text/javascript">
        </script>
        Why is this not working
    </body>
</html>
