<!DOCTYPE html>
<html>
    <head>
        <h1>
            Kafaan
        </h1>
        <script language="javascript" src="p5.js" type="text/javascript">
        </script>
        <script language="javascript" src="p5.dom.js" type="text/javascript">
        </script>
        <script language="javascript" src="pong.js" type="text/javascript">
        </script>
        <h1>
            Kafaan
        </h1>
    </head>
    <body>
    </body>
</html>