<!DOCTYPE html>
<html>
    <head>
        <h1>
            Why is this not working

        </h1>
    </head>
    <body>
        <script type="text/javascript" src="p5.js" >
        </script>
        <script type="text/javascript" src="p5.dom.js" >
        </script>
        <script type="text/javascript" src="pong.js" >
        </script>
        <script type="text/javascript" src="testScript.js" >
        </script>
        Why is this not working
    </body>
</html>
